:root{
--bgColor:rgb(214,108,86);
--pColor:rgb(242,223,192);
--h1Color:rgb(255,255,255);
--mainFont:'Poppins', sans-serif;
}
body{
box-sizing:border-box;
background-color:var(--bgColor);
font-family:var(--mainFont);
margin:0px;
padding:0px;
}

*{
margin:0px;
padding:0px;
box-sizing:border-box;
}
span{
color:red;
}
h1{
color:var(--h1Color);
font-family:var(--mainFont);
}
h3{
color:var(--bgColor);
}
.main-container{
background-color:var(--h1Color);
width:90vw;
margin:auto;
}
p,label{
color:rgb(80,37,47);
}
.sub-heading{
font-size:20px;}
.heading{
display:flex;
flex-direction:column;
justify-content:center;
margin:auto;
}
.main-container{
margin-top:5px;
padding:20px;
}
.label-input-container,content{
padding-top:2rem;
display:flex;
flex-direction:row;
flex-wrap:wrap;
}
label,.empty-content{
flex-basis:50vw;

}
.try>p{
padding-bottom:2rem;
}
.try>p:last-of-type{padding-bottom:0rem;}

/* input[type="submit"]  */
.submitAndReset
{
display:flex;
justify-content:space-around;
padding-top:2rem;
}

.submitAndReset>div{
flex-basis:50vw;
}

